<!-- add_company.html -->
{% extends 'main.html' %}
{% load static %}

{% block title %}Add Company{% endblock %}

{% block content %}
<head>
    <style>
        .box {
            border: 5px solid black;
        }
    </style>
</head>
<div class="box jumbotron container">
    <h2>Add Company</h2>
    <form action="{% url 'add_company' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
    </form>
</div>
{% endblock %}
